html {
  font-size: var(--base-sizing);
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: var(--text-heading-medium);
  font-weight: bold;
  margin: 1rem 0 0;
}

.header-nav {
  justify-content: flex-start;
  grid-area: header-nav;
}

.header-controls {
  justify-content: flex-end;
  grid-area: header-controls;
}

.sidebar-1 {
  background-color: var(--color-fill-light);
  grid-area: sidebar-1;
}

.content {
  grid-area: content;
}

.sidebar-2 {
  grid-area: sidebar-2;
}
