form {
  p {
    margin: 0;
  }
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

legend,
.legend {
  text-transform: uppercase;
  font-size: var(--text-small-upper);
  font-weight: bold;
}

label {
  cursor: pointer;
}

.form {
  &__explanation {
    font-size: var(--text-small);
    font-style: italic;
  }
}
