:root {
  --color-brand: rgba(0, 166, 250, 1);
  --color-page: rgba(255, 255, 255, 1);
  --color-fill-light: rgba(0, 0, 0, .1);
  --color-fill-mid: rgba(0, 0, 0, .5);
  --color-notification-quiet: rgba(0, 0, 0, .65);

  --padding-container: 1rem;
  --margin-container: 1rem 0;

  --padding-sub-container: .5rem;
  --margin-sub-container: .5rem 0;

  --component-border: 1px dotted;

  --text-small: .9rem;
  --text-small-upper: .8rem;
  --text-large: 1.1rem;
  --text-heading-medium: 1.5rem;

  --block-disabled-overlay: rgba(255, 255, 255, .5);
}
